body {
  margin: 20px;
}

code {
  background: #d0d0d5;
}

canvas {
  margin: auto;
}

.container {
  display: flex;
  flex-direction: column;
}

.banner {
  text-align: center;
  font-family: 'Press Start 2P', sans-serif;
}

.controls, .score {
  font-size: 10px;
}

.coin-race {
  font-size: 20px;
}

@media (min-width: 800px) {
  .container {
    flex-direction: row;
  }
}
